name: Image Build

on: 
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
        description: Image version to build
  release:
    types: [published]

env:
  REGISTRY: docker.io
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  TAG: ${{ github.event_name == 'workflow_dispatch' && inputs.version || github.ref_name }}

    
jobs:
  build:
    name: Build and Push Docker images
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check image tag
        run: |
          echo "TAG=${TAG}"

